################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Site/bin
/Site/obj
/Logger/bin
/Logger/obj
/Dominio/bin
/Dominio/obj
